<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - PROFESIONALES</title>
    <style>
      body {
        background: url("/static/labe.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
    </style>
  </head>
  <body>
    <%- include('parciales/encabezadoProf') %>
    <!-- BODY -->
    <div class="container">
      <div class="jumbotron bg-light">
        <div class="back"></div>
        <h1>Historial</h1>

        <div class="jumbotron bg-dark text-dark">
          <ul class="list-group">
            <% proyTerminados.forEach((proy) => { %>
            <li class="list-group-item">
              <div class="card" style="width: 100;">
                <div class="card-header">
                  ID Proyecto: <%= proy.cod_proy_pk %>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Cliente: <%= proy.nom_cli %> <%= proy.ape_cli %>
                  </li>
                  <li class="list-group-item">
                    ID Cliente: <%= proy.ced_cli_pk %>
                  </li>
                  <li class="list-group-item">
                    Telefono: <%= proy.telf_cli %>
                  </li>
                  <li class="list-group-item">Email: <%= proy.email_cli %></li>
                  <li class="list-group-item">
                    Descripción del Proyecto: <%=proy.desc_proy %>
                  </li>
                  <li class="list-group-item">
                    Estatus: Terminado
                  </li>
                </ul>
              </div>
            </li>
            <%});%>
          </ul>
        </div>
      </div>
    </div>

    <!-- FIN -->
    <%- include('parciales/navProf') %> <%- include('parciales/scripts') %>
  </body>
</html>
