<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - ADMIN</title>
  </head>
  <body>
    <%- include('parciales/encabezadoAdm') %>
    <!-- BODY -->
    <div class="container">
      <hr />
      <div class="h1 text-dark">Perfil</div>
      <br />
      <h3>ADMIN: <%= nom_adm %></h3>
      <br />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Apellidos: <%= ape_adm %></li>
        <li class="list-group-item">Email: <%= email_adm %></li>
        <li class="list-group-item">Telefono: <%= telf_adm %></li>
      </ul>
    </div>
    <!-- FIN -->
    <%- include('parciales/navAdmin') %> <%- include('parciales/scripts') %>
  </body>
</html>
