<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - ADMIN</title>
    <style>
      body {
        background: url("/static/door.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
    </style>
  </head>
  <body>
    <%- include('parciales/encabezadoAdm') %>
    <!-- BODY -->
    <div class="container">
      <div class="jumbotron bg-light">
        <div class="back"></div>
        <h1>ADMIN Home</h1>

        <div class="jumbotron bg-dark text-black">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre: <%= nom_adm %></li>
            <li class="list-group-item">Apellidos: <%= ape_adm %></li>
            <li class="list-group-item">Email: <%= email_adm %></li>
            <li class="list-group-item">Telefono: <%= telf_adm %></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- FIN -->
    <%- include('parciales/navAdmin') %> <%- include('parciales/scripts') %>
  </body>
</html>
