<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - PROFESIONALES - PROYECTOS</title>
  </head>
  <body>
    <%- include('parciales/encabezadoProf') %>
    <!-- BODY -->
    <div class="container">
      <h1>Proyectos en curso...</h1>
      <ul class="list-group">
        <% proyAceptados.forEach((proy) => { %>
        <li class="list-group-item">
          <div class="card" style="width: 100;">
            <div class="card-header">
              ID Proyecto: <%= proy.cod_proy_pk %>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Cliente: <%= proy.nom_cli %> <%= proy.ape_cli %>
              </li>
              <li class="list-group-item">
                ID Cliente: <%= proy.ced_cli_pk %>
              </li>
              <li class="list-group-item">
                Telefono: <%= proy.telf_cli %>
              </li>
              <li class="list-group-item">Email: <%= proy.email_cli %></li>
              <li class="list-group-item">
                Fecha de inicio: <%= proy.fecha_solicitud_proy %>
              </li>
              <li class="list-group-item">
                Fecha de finalizacion: <%= proy.fecha_finalizacion_li %>
              </li>
              <li class="list-group-item">
                Descripción del Proyecto: <%=proy.desc_proy %>
              </li>
            </ul>
          </div>
        </li>
        <%});%>
      </ul>
    </div>

    <!-- FIN -->
    <%- include('parciales/navProf') %> <%- include('parciales/scripts') %>
  </body>
</html>
