<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - ADMIN - Solicitudes</title>
    <style>
      .row {
        font-size: 20px;
      }
      thead {
        text-align: center;
      }
      tbody {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('parciales/encabezadoAdm') %>
    <!-- BODY -->
    <div class="container">
      <div class="jumbotron">
        <h2>Solicitudes para ser Profesional</h2>

        <form method="POST" role="form">
          <div class="form-group">
            <label>Revise la lista de candidatos:</label>
            <select class="form-control" name="seleccion">
              <% peticiones.forEach((peticion)=>{ %>
              <option
                ><%= peticion.ced_pro_pk %> - <%= peticion.nom_pro %>
                <%=peticion.ape_pro %> - <%= peticion.telf_pro %> - <%=
                peticion.email_pro %></option
              >
              <% }); %>
            </select>
          </div>

          <div class="form-group">
            <input
              type="submit"
              name="contratado"
              value="Contratar"
              class="btn btn-outline-success"
            />
            <input
              type="submit"
              name="rechazado"
              value="Rechazar"
              class="btn btn-outline-danger"
            />
          </div>
        </form>
      </div>
    </div>

    <!-- FIN -->
    <%- include('parciales/navAdmin') %> <%- include('parciales/scripts') %>
  </body>
</html>
